* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ), url("/img/vallejo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,.4);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  color: #1877f2;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.card button {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #145dbf;
}

.card p {
  margin-top: 10px;
  color: red;
}
